/*        <main class="hero-section">
      <div class="hero-Image1">
        <div id="Hero-image1"> */

.hero-section {
  float: left;
  width: 75%;
}

#Hero-image1 {
  float: left;
  width: 63%;
}

#topic-heading {
  float: left;
  /* padding-left: 50px; */
  padding-top: 35px;
  color: #e74549;
}

.sub-topic-heading {
  float: left;
  margin-left: 90px;
  padding-top: 35px;
  /* width: auto; */
  /* display: flex
; */
  /* width: 100px; */
  font-size: 13px;
  opacity: 50%;
  font-family: "roboto";
}

.sub-topic-heading #strategy-heading {
  float: left;
  margin: 0;
  padding-top: 0px;
}

.sub-topic-heading #more-heading {
  float: right;
  margin: 0;
  padding-left: 20px;
}

.hero-section-part-1 {
  width: 25%;
  height: auto;
  float: left;

  background-color: #f1f4f7;
}

.c2-image {
  float: left;
  padding-top: 10px;
}

.c2-image img {
  height: 165px;
  cursor: pointer;
}

#Hero-image1-heading {
  border: none;
}

#Hero-image1-heading #img-title a {
  text-decoration: none;
  cursor: pointer;
  color: #131f49;
}

#Hero-image1-heading #img-title {
  float: left;
  padding-left: 70px;
  padding-top: 15px;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}

#Hero-image1-heading #img-subtitle a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 74, 74, 1);
}

#Hero-image1-heading #img-subtitle {
  float: left;
  padding-left: 70px;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 15px;
  line-height: 40px;
  font-weight: 700;
  margin: 1px 10px 0px 0px;
}

#Hero-image1-heading #img-subtitle2 a {
  text-decoration: none;
  cursor: pointer;
  color: #131f49;
}

#Hero-image1-heading #img-subtitle2 {
  float: left;
  padding-left: 20px;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 15px;
  line-height: 40px;
  font-weight: 500;
  margin: 1px 10px 0px 0px;
}

#Hero-image1-heading #img-subtitle3 {
  float: left;
  padding-left: 0px;
  text-decoration: none;
  font-family: "Poppins";
  color: #131f49;
  font-size: 15px;
  line-height: 40px;
  font-weight: 500;
  margin: 1px 10px 0px 0px;
}

#Hero-image1-heading #img-desc {
  float: left;
  padding-left: 70px;
  text-decoration: none;
  color: #131f49;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  margin: 1px 10px 0px 0px;
  text-indent: 10px 10px;
}

/* 
#hero-image3-content-heading {
  float: left;
  margin-left: 70px;
  margin-top: 20px;
}

#hero-image3-content-heading a {
  text-decoration: none;
  color: rgba(255, 74, 74, 1);
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}

#hero-image3-content-heading-1 a {
  text-decoration: none;
  color: #131f49;
}
#hero-image3-content-heading-1 {
  float: left;
  width: 55%;
  padding-right: 300px;
  margin-left: 70px;
  font-size: 16px;
  font-weight: 700;
} */

/* marketing images */
/* #marketing1 { */
/* float: left; */
/* padding-left: 0; */
/* padding-top: 30px; */
/* } */

.util-box {
  float: left;
  /* width: 100%; */
  margin-left: 70px;
  padding-top: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}

.util-col-1 {
  float: left;
  width: 26%;
  padding-right: 8px;
  padding-top: 10px;
}

.util-col-2 {
  float: left;
  width: 23%;
  padding-top: 10px;
}

#marketing1 {
  max-width: 100%;
  width: 100%;
}

.util-col-3 {
  float: left;
  width: 23%;
  padding-top: 10px;
}

.util-col-4 {
  float: left;
  width: 23%;
  padding-top: 10px;
}

#marketing2 {
  max-width: 100%;
  width: 100%;
  margin-left: 30px;
}

/* #util-heading { */
/* float: left; */
/* margin-left: 70px; */
/* margin-top: 20px; */
/* } */

#util-heading a {
  text-decoration: none;
  color: rgba(255, 74, 74, 1);
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}

#util-meta-1 a {
  text-decoration: none;
  color: #131f49;
}

#util-meta-1 a {
  /* float: left; */
  /* width: 55%; */
  /* padding-right: 300px; */
  /* margin-left: 70px; */
  font-size: 16px;
  font-weight: 700;
}

/* col2 */
#util-heading-2 {
  /* float: left; */
  margin-left: 25px;
  /* margin-top: 20px; */
}

#util-heading-2 a {
  text-decoration: none;
  color: rgba(255, 74, 74, 1);
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}

#util-meta-2 a {
  text-decoration: none;
  color: #131f49;
}

#util-meta-2 a {
  float: left;
  /* width: 62%; */
  margin-left: 25px;
  font-size: 15px;
  font-weight: 700;
}

/* Util Box Weird */

.util-weird {
  float: left;
  /* width: 100%; */
  margin-left: 70px;
  margin-bottom: 20px;
}

.weird-col-1 {
  width: 50%;
  float: left;
  padding-bottom: 15px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.weird-col-2 {
  width: 50%;
  float: left;
  margin-left: 0px;
}

#weird-meta-1 a {
  text-decoration: none;
  cursor: pointer;
  color: #131f49;
}

.weird-meta-1 {
  max-width: 100%;
  float: left;
  width: 95%;
  padding-top: 2px;
}

#weird-meta-1 {
  max-width: 100%;
  float: left;
  width: 95%;
  padding-top: 2px;
}

#weird-meta-2 {
  width: 82%;
}

#weird-meta-2 a {
  text-decoration: none;
  cursor: pointer;
  color: #131f49;
}

#weird-meta-2 {
  max-width: 100%;
  width: 90%;
  float: left;
  margin-left: 25px;
  padding-bottom: 15px;

  border: none;

  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

#util-box-heading {
  width: 50%;
}

#util-heading {
  width: 40%;
}

#weird-1 {
  margin: 10px 0 0;
  font-size: 15px;
  line-height: 1.2;
}

#weird-meta-4 {
  max-width: 100%;
  width: 100%;
  float: left;
  margin-left: 25px;
  padding-bottom: 15px;
  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

#weird-meta-4 a {
  text-decoration: none;
  cursor: pointer;
  color: #131f49;
}

.weird-col-5 {
  width: 50%;
  float: left;
  padding-bottom: 15px;
}

#weird-meta-5 {
  max-width: 100%;
  width: 100%;
  float: left;
  padding-bottom: 15px;
  border: none;
}

#weird-meta-5 a {
  text-decoration: none;
  cursor: pointer;
  color: #131f49;
}

#weird-meta-6 {
  max-width: 100%;
  width: 100%;
  float: left;
  margin-left: 25px;
  padding-bottom: 15px;
  border: none;
}

#weird-meta-6 a {
  text-decoration: none;
  cursor: pointer;
  color: #131f49;
}

/* c2 */
.c2 {
  float: left;
  margin-left: 60px;
  width: 28%;
}

.c2-img1-caption a {
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 800;
  color: #131f49;
}

#celebrity {
  float: left;
  padding-top: 10px;
  font-weight: 500;
}

#celebrity a {
  color: #e52e2e;
  text-decoration: none;
}

#celebrity-date {
  float: left;
  padding-top: 12px;

  padding-left: 10px;
  color: #131f49;
  font-size: 13px;
  font-weight: 500;
}

#c2-image1-caption {
  float: left;
  margin-right: 10px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;

  padding-bottom: 15px;
}

#c2-head-1 p {
  float: left;
  color: #131f49;
  font-size: 16px !important;
  line-height: 1.2 !important;

  font-weight: 700 !important;
}

#c2-head-1 {
  padding-top: 15px;
  float: left;
  padding-bottom: 10px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

#c2-head-10 p {
  float: left;
  color: #131f54;
  font-weight: 700;
}

#c2-head-10 {
  padding-top: 15px;
  float: left;
  padding-bottom: 10px;

  border: none;
  margin-bottom: 50px;
}

.main-c3 {
  float: left;
  width: 78%;
  margin-left: 50px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;

  margin-bottom: 30px;
}

#hot-this-weak {
  color: #131f49;
  font-size: 16px !important;
  line-height: 1.2 !important;

  font-weight: 700 !important;

  margin: 40px 0px 12px 0px;
}

#sub-strategy {
  float: left;
  width: 80%;

  color: #131f49;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
}

#strategy {
  float: left;
  color: #e52e2e;
  padding-bottom: 10px;

  font-size: 16px !important;
  line-height: 1 !important;
  font-weight: 700 !important;
}

#count {
  float: left;
  font-size: 55px;
  padding-left: 15px;
  color: #d2dae1;
  font-family: math;
}

.main-c3-tech {
  float: left;
  width: 78%;
  margin-left: 50px;

  margin-bottom: 30px;
}

#technology {
  float: left;
  color: #e52e2e;
  padding-bottom: 15px;

  font-size: 15px !important;
  line-height: 1 !important;
  font-weight: 700 !important;
}

#hero-image-3 {
  float: left;
  width: 25%;
  margin: 25px 0px 0px 0px;
}

#hero-image-3 #img3 {
  float: left;
  margin: 5px 0px 0px 25px;
  max-width: 100%;
  width: 80%;
}

#follow {
  float: left;
  margin-left: 25px;

  margin-top: 30px;

  color: #131f49;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  width: 75%;
}

#fans {
  float: left;
  width: 25%;
  color: rgb(255, 255, 255);
  height: 150px;
  margin-left: 25px;
  margin-top: 10px;
  background-color: #516eab;
  text-align: center;
}

#followers {
  float: left;
  width: 28%;
  color: rgb(255, 255, 255);
  height: 150px;
  /* margin-left: 25px; */
  margin-top: 10px;
  background-color: #29c5f6;
}

#subscriber {
  float: left;
  width: 30%;
  color: rgb(255, 255, 255);
  height: 150px;
  margin-top: 10px;

  background: #e14e42;
}

#fans-text {
  text-align: center;
  float: left;
  margin-top: 100px;

  font-size: 14px;
  font-weight: 600;
}

.category {
  width: 24%;
  height: auto;
  float: left;
  background-color: #fcf7f5;
  margin-top: 25px;
}

.category h3 {
  color: #131f49;
  font-size: 18px !important;
  line-height: 1.2 !important;

  font-weight: 700 !important;
  margin: 30px 0px 12px 45px;

  display: block;
}

/* 

.category {
  float: left;
  font-size: 17px !important;
  line-height: 1.2 !important;

  font-weight: 700 !important;


} */
.category-headings {
  float: left;
  width: 70%;
  margin: 5px 0px 15px 45px;
  height: auto;
  padding-bottom: 5px;
  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.category-headings span {
  float: left;
  font-size: 13px !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}

#st-count {
  float: right;
  font-weight: 800;
}

.main-section-Headlines {
  float: left;
  width: 94%;
  margin-left: 70px;
}

#headline {
  float: left;
  padding-bottom: 10px;
}

#headlines {
  float: left;
  padding-bottom: 10px;
  margin-right: 20px;
  color: #131f49;
  font-size: 26px !important;
  line-height: 1.2 !important;
  font-weight: 700 !important;
}

#headline-border {
  width: 81%;
  border-bottom: 3px solid #e52e2e;
  float: left;
  margin-top: 15px;
  margin-bottom: 45px;
}

.main-section-part-1 {
  float: left;
  width: 42%;
}

.main-section-part-1 img {
  float: left;
}

.tdi_262 {
  width: 50%;
  float: left;
  margin-bottom: 20px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
}

.tdi_262 img {
  max-width: 100%;
  width: 92%;
}

.tdi_262-1 {
  width: 48%;
  float: left;
  margin-bottom: 20px;
}

.tdi_262-1 img {
  max-width: 100%;
  margin-left: 20px;
  width: 92%;
}

#tdi-head1 {
  float: left;
  margin-top: 18px;
  width: 100%;
  font-size: 18px !important;
  line-height: 1.2 !important;
  font-weight: 700 !important;
  text-align: center;
  padding-right: 10px;
}

#tdi-head1 a {
  text-decoration: none;
  color: #131f49;
  float: left;
  margin-right: 20px;
}

#politics {
  float: left;
  margin: 15px 5px 0 15px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: #e52e2e;

  font-size: 13px !important;
  line-height: 1.2 !important;
  font-weight: 600 !important;
}

#politics-date {
  float: left;
  margin: 15px 5px 0 15px;

  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: #131f49;

  font-size: 13px !important;
  line-height: 1.2 !important;
  font-weight: 500 !important;
}

#tdi-head2 {
  float: left;
  margin-top: 18px;

  margin-left: 18px;
  width: 100%;
  font-size: 18px !important;
  line-height: 1.2 !important;
  font-weight: 700 !important;
  text-align: center;
  padding-right: 10px;
}

#tdi-head2 a {
  text-decoration: none;
  color: #131f49;
  float: left;
  margin-right: 20px;
}

#td-excerpt {
  float: left;
  margin-top: 15px;
  color: #131f54;
  width: 100%;
  text-align: left;
  font-size: 15px !important;
  line-height: 1.4 !important;

  font-weight: 400 !important;
}

#td-excerpt-2 {
  float: left;
  margin-top: 15px;
  color: #131f54;
  width: 100%;
  text-align: left;
  margin-left: 25px;
  font-size: 15px !important;
  line-height: 1.4 !important;

  font-weight: 400 !important;
}

.main-section-part-2 {
  float: left;
  width: 26%;
  background-color: #f1f4f7;
  height: auto;
  padding-bottom: 20px;
  margin: 0px 0px 20px 20px;
}

.main-section-part-2 img {
  float: left;
  cursor: pointer;
}

.exclusive-articles {
  width: 95%;
  float: left;
  margin-right: 20px;
  margin-left: 30px;
  margin-top: 20px;
}

.exclusive-articles h3 {
  width: 90%;
  float: left;
  margin-top: 10px;

  color: #e52e2e;
  font-size: 20px;
  line-height: 1.2;

  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

.articles-images {
  width: 90%;
  float: left;
  cursor: pointer;
}

.articles-images img {
  width: 30%;
  float: left;
  padding-top: 5px;

  margin-bottom: 20px;
  cursor: pointer;
}

.articles-images span {
  width: 65%;
  float: left;
  padding-left: 10px;
  padding-top: 3px;
  cursor: pointer;

  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;

  color: #131f54;
  margin-bottom: 20px;
}

.main-section-part-3 {
  float: left;
  width: 28%;

  height: auto;
  padding-bottom: 20px;
  margin: 0px 0px 20px 25px;
}

.part-3-col-1 {
  float: left;
  height: auto;
  padding-bottom: 25px;
}

.part-3-col-1 img {
  max-width: 100%;
  width: 80%;
}

#col-1-head1 {
  float: left;
  margin-top: 18px;
  width: 85%;
  font-size: 15px !important;
  line-height: 1.2 !important;
  font-weight: 700 !important;
  text-align: left;
  padding-right: 10px;
}

#col-1-head1 a {
  text-decoration: none;
  color: #131f49;
  float: left;
  margin-right: 20px;
}

#tech {
  float: left;
  margin: 15px 5px 0 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: #e52e2e;

  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
}

#tech-date {
  float: left;
  margin: 15px 5px 0 15px;

  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: #131f49;

  font-size: 13px !important;
  line-height: 1.2 !important;
  font-weight: 500 !important;
}

.banner-section {
  float: left;
  width: 90%;
  margin: 20px 0px 25px 105px;
}

.banner {
  width: 90%;
  float: left;
  background-color: #ffebdf6e;
  padding-bottom: 20px;
}

#news {
  float: left;
  color: #131f49;
  text-transform: uppercase;
  padding: 10px 10px 0px 55px;
  margin-top: 10px;
  font-size: 35px;
  max-width: 600px;
  text-align: center;
  position: relative;
}

#tagline {
  float: left;
  color: #131f49;
  padding: 10px 10px 0px 55px;
  margin-top: 20px;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  position: relative;
}

#banner-btn {
  float: left;
  background-color: #131f49;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 16px 10px 16px;

  margin-top: 30px;

  max-width: 600px;
  text-align: center;
  position: relative;
  margin-left: 100px;
}

#news::before {
  content: "";
  width: 50px;
  height: 2px;
  background: #dfdce0;
  position: absolute;
  left: 0%;
  top: 35px;
}

#news::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #dfdce0;
  position: absolute;
  left: 100%;
  top: 35px;
}

#tagline::after {
  content: "";
  width: 90px;
  height: 2px;
  background: #dfdce0;
  position: absolute;
  left: 100%;
  top: 25px;
}

#banner-btn::after {
  content: "";
  width: 90px;
  height: 2px;
  background: #dfdce0;
  position: absolute;
  left: 110%;
  top: 15px;
}

.news-box {
  float: left;
  width: 94%;
  margin-left: 55px;
  margin-top: 30px;
}

.news-box-col-1 {
  float: left;
  width: 30%;
  height: auto;
}

.img-row {
  float: left;
  background-color: #f1f4f7;
  height: auto;
}

#travel {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #131e4a;
  margin: 20px 0px 0px 25px;
  position: relative;
}

#travel::after {
  content: "";
  width: 2px;
  height: 34px;
  background: #e52e2e;
  position: absolute;
  left: 2%;
  top: 30px;
  overflow: hidden;
}

#news-banner {
  margin-top: 35px;
  float: left;
  max-width: 100%;
  width: 100%;
}

.news-sub-heading-row {
  float: left;

  height: auto;

  width: 100%;
}

#news-sub-heading {
  font-size: 20px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;

  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-top: 20px;
}

#news-sub-heading a {
  text-decoration: none;
  color: #131e4a;
}

.news-sub-heading-row span {
  width: 65%;
  float: left;
  padding-left: 15px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #131f54;
  line-height: 1.2;
}

.news-sub-heading-image {
  float: left;
  max-width: 100%;
  width: 20%;
  cursor: pointer;
}

.news-row-1-box {
  width: 100%;
  float: left;
  padding-bottom: 20px;
  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;

  margin-bottom: 20px;
}

#row-1-image {
  float: left;
  max-width: 100%;
  width: 30%;
}

.news-row-4-textbox {
  float: left;
  width: 100%;
}

.textbox-col1 {
  float: left;
  width: 48%;

  padding-bottom: 20px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 20px;
}

.textbox-col2 {
  width: 48%;
  margin-left: 10px;

  padding-bottom: 20px;
  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 20px;
}

.textbox-col3 {
  width: 48%;
  padding-bottom: 20px;
  border: none;
  margin-bottom: 20px;
}

.textbox-col3 p {
  float: left;
  color: #131f54;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;

  padding-bottom: 20px;
  border: none;
  margin-bottom: 20px;
}

.textbox-col4 {
  float: left;
  width: 48%;
  padding-bottom: 20px;
  border: none;
  margin-bottom: 20px;
  margin-left: 10px;
}

.textbox-col4 p {
  float: left;
  color: #131f54;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;

  padding-bottom: 20px;
  border: none;
  margin-bottom: 20px;
}

.textbox-col2,
.textbox-col1 p {
  float: left;
  color: #131f54;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
}

/* col -2 in news banner  */

.news-box-col-2 {
  float: left;
  width: 30%;
  height: auto;
  margin-left: 40px;
}

.img-row-2 {
  float: left;
  background-color: #f1f4f7;
  height: auto;
}

#music {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #131e4a;
  margin: 20px 0px 0px 25px;
  position: relative;
}

#music::after {
  content: "";
  width: 2px;
  height: 34px;
  background: #e52e2e;
  position: absolute;
  left: 2%;
  top: 30px;
  overflow: hidden;
}

#news-banner {
  margin-top: 35px;
  float: left;
  max-width: 100%;
  width: 100%;
}

.news-sub-heading-row {
  float: left;

  height: auto;

  width: 100%;
}

#news-sub-heading {
  font-size: 20px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;

  padding-bottom: 15px;
  margin-bottom: 15px;
}

#news-sub-heading a {
  text-decoration: none;
  color: #131e4a;
}

.news-sub-heading-row span {
  width: 65%;
  float: left;
  padding-left: 15px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #131f54;
  line-height: 1.2;
}

/* col - 3 in news banner  */

.news-box-col-2 {
  float: left;
  width: 30%;
  height: auto;
  margin-left: 40px;
}

.img-row-2 {
  float: left;
  background-color: #f1f4f7;
  height: auto;
}

#music {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #131e4a;
  margin: 20px 0px 0px 25px;
  position: relative;
}

#music::after {
  content: "";
  width: 2px;
  height: 34px;
  background: #e52e2e;
  position: absolute;
  left: 2%;
  top: 30px;
  overflow: hidden;
}

#news-banner {
  margin-top: 35px;
  float: left;
  max-width: 100%;
  width: 100%;
}

.news-sub-heading-row {
  float: left;

  height: auto;

  width: 100%;
}

#news-sub-heading {
  font-size: 21px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;

  padding-bottom: 15px;
  margin-bottom: 15px;
}

#news-sub-heading a {
  text-decoration: none;
  color: #131e4a;
}

.news-sub-heading-row span {
  width: 65%;
  float: left;
  padding-left: 15px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #131f54;
  line-height: 1.2;
}

.editor-box {
  float: left;
  margin-top: 30px;
  width: 100%;
  background-color: #fcf7f5;

  margin-bottom: 20px;
  padding-bottom: 50px;
}

.editor-section {
  width: 90%;
  float: left;
  margin-left: 55px;
  margin-right: 55px;
}

.editor-section h3 {
  /* float: left; */
  color: #131f49;
  margin-top: 10px;
  font-size: 26px;
  /* max-width: 600px; */
  /* text-align: center; */
  position: relative;
}

#editor {
  width: 100%;
  text-align: center;
  float: left;
  margin-bottom: 20px;
  margin-top: 40px;
}

.editor-section h3::before {
  content: "";
  width: 40%;
  height: 2px;
  background: #e52e2e;
  position: absolute;
  left: 0%;
  top: 20px;
}

.editor-section h3::after {
  content: "";
  width: 40%;
  height: 2px;
  background: #e52e2e;
  position: absolute;
  left: 60%;
  top: 23px;
}

.editor-column-box {
  float: left;
  width: 23%;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  padding-right: 5px;
  margin-top: 10px;
}

.img-section {
  float: left;
  width: 98%;
}

#rounded-image {
  float: left;
  max-width: 100%;
  width: 70%;
  border-radius: 100px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.img-section h2 {
  color: #131f54;
  font-size: 24px !important;
  line-height: 1.2 !important;
  font-weight: 700 !important;

  border: none;
  border-color: #e52e2e;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.img-section {
  float: left;
  width: 95%;
}

.img-section a {
  text-decoration: none;
  color: #131f49;
  float: left;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 25px;
}

.strategy-heading {
  float: left;
  width: 60%;
}

.strategy-image {
  float: left;
  height: 83px;
  width: 83px;
}

#strategy-img {
  float: left;

  width: 100%;

  height: 100%;
}

/* Column 2 of Editor */

.editor-column-box-2 {
  float: left;
  width: 23%;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  padding-right: 5px;
  margin-left: 20px;
  margin-top: 10px;
}

.editor-column-box-4 {
  float: left;
  width: 23%;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  padding-right: 5px;
  margin-left: 20px;
  margin-top: 10px;
}

.img-section {
  float: left;
  width: 98%;
}

#rounded-image {
  float: left;
  max-width: 100%;
  width: 70%;
  border-radius: 100px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.img-section h2 {
  color: #131f54;
  font-size: 24px !important;
  line-height: 1.2 !important;
  font-weight: 700 !important;

  border: none;
  border-color: #e52e2e;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.img-section {
  float: left;
  width: 95%;
}

.img-section a {
  text-decoration: none;
  color: #131f49;
  float: left;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 25px;
}

.strategy-heading {
  float: left;
  width: 60%;
}

.strategy-image {
  float: left;
  height: 83px;
  width: 83px;
}

#strategy-img {
  float: left;

  width: 100%;

  height: 100%;
}

.video-box {
  float: left;
  width: 100%;
  height: 500px;
}

.full-video-box {
  float: left;
  width: 100%;
  height: 100%;
}

#video-player-1 {
  width: 100%;
  height: 100%;
}

.video-player-box {
  float: left;
  width: 102%;
  padding-top: 10px;
}

.video-player-box-1 {
  float: left;
  width: 15%;
  padding-top: 10px;
}

#sub-video-player-1 {
  max-width: 100%;
  width: 100%;
  float: left;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

.video-player-box-2 {
  float: left;
  width: 15%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.banner-section-2 {
  float: left;
  width: 90%;
  margin: 20px 0px 25px 105px;
  padding-bottom: 60px;
}

.banner-2 {
  width: 90%;
  float: left;
  background-color: #e0e8eec4;
  padding-bottom: 20px;
}

#recents-heading {
  float: left;
  width: 60%;
}

.recent-box {
  float: left;
  margin-left: 55px;
  width: 65%;
}

.recent-headline-box {
  float: left;
}

.recent-headline-box {
  float: left;
  color: #131f49;
  padding: 10px 5px 0px 0px;
  font-size: 25px;
  font-weight: 800;
  text-align: left;

  position: relative;
}

.recent-headline-box h3::after {
  content: "";
  width: 265%;
  height: 2px;
  background: #e52e2e;
  position: absolute;
  left: 100%;
  top: 30px;
}

.recent-column-box {
  float: left;
  width: 100%;
  margin-top: 20px;
}

.recent-col-1 {
  float: left;
  width: 33%;
  margin-top: 20px;
}

.recent-image-box {
  float: left;
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
  cursor: pointer;
}

#recent-image-1 {
  float: left;
  max-width: 95%;
  width: 100%;
  height: 100%;
}

.recent-content-box {
  float: left;
  width: 100%;
  margin-top: 15px;
}

#recent-img-title {
  width: 100%;
  float: left;
  color: #131f49;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 15px;
  cursor: pointer;
}

.recent-sub-text {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

#sub-text {
  float: left;
  width: 100%;
  font-size: 14px;
  color: #131f49;
  font-weight: 400;
  cursor: pointer;
}

.recent-box-2 {
  float: left;
  width: 25%;
  margin-left: 20px;
}

/* Followers box - 2nd */

.social-box {
  float: left;
  width: 100%;
  margin-left: 15px;
}

.follow-boxes {
  float: left;
  width: 100%;
}

#follow-2 {
  float: left;

  margin-top: 30px;

  color: #131f49;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  width: 85%;
}

#fans-2 {
  float: left;
  width: 33%;
  color: rgb(255, 255, 255);
  height: 140px;
  margin-top: 10px;
  background-color: #516eab;
  text-align: center;
}

#followers-2 {
  float: left;
  width: 33%;
  color: rgb(255, 255, 255);
  height: 140px;
  /* margin-left: 25px; */
  margin-top: 10px;
  background-color: #29c5f6;
}

#subscriber-2 {
  float: left;
  width: 33%;
  color: rgb(255, 255, 255);
  height: 140px;
  margin-top: 10px;

  background: #e14e42;
}

#fans-text {
  text-align: center;
  float: left;
  margin-top: 92px;

  font-size: 14px;
  font-weight: 600;
}

#fans-text-2 {
  text-align: center;
  float: left;
  margin-top: 92px;

  font-size: 14px;
  font-weight: 600;
  padding-left: 16px;
}

.social-content-box {
  float: left;
  width: 100%;
  margin-left: 15px;
  margin-top: 20px;
  padding-bottom: 25px;
}

#popular {
  color: #e52e2e;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
}

.popular-images-box {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.popular-img-section {
  float: left;
  width: 30%;
  margin-right: 20px;
}

#popular-1-image {
  float: left;
  max-width: 100%;

  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.popular-image-desc {
  float: left;
  width: 60%;
}

#Mystrategy {
  color: #e52e2e;
  font-size: 12px !important;
  line-height: 1 !important;
  font-weight: 700 !important;
}

#sub-Mystrategy {
  float: left;
  color: #131f54;
  font-size: 13px;
  font-weight: 500;
}

.news-paper-image {
  float: left;
  width: 100%;
  margin-top: 20px;
  height: 200px;
}

#news-paper-image-1 {
  float: left;
  max-width: 100%;
  height: 100%;
  width: 90%;
}

.category-2 {
  width: 100%;
  height: auto;
  float: left;
  background-color: #fcf7f5;
  margin-top: 25px;
}

.category-2 h3 {
  color: #131f49;
  font-size: 18px !important;
  line-height: 1.2 !important;

  font-weight: 700 !important;
  margin: 30px 0px 12px 45px;

  display: block;
}

.MyFooter {
  float: left;
  width: 100%;
  height: auto;
  background-color: #131f49;
}

.Footer-section-full {
  float: left;
  width: 100%;
}

.footer-box {
  float: left;
  width: 60%;
  margin-left: 50px;
  margin-top: 50px;
  position: relative;
}

.footer-logo-box {
  float: left;
  width: 100px;
  height: 100px;
}

/* 
#footer-logo {
  float: left;
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: relative;
} */

#footer-logo {
  float: left;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: #131f49;
  font-size: 35px;
  text-align: center;
}

.footer-logo-box::after {
  content: "";
  width: 86%;
  height: 1px;
  background: #e52e2e;
  position: absolute;
  left: 14%;
  top: 50%;
}

#nav-link {
  float: left;
}

.footer-box-navlinks-1 {
  float: left;
  width: 35%;
  margin-top: 85px;
}

#nav-link li {
  float: left;
  padding-left: 15px;
  list-style: none;
}

#nav-link li a {
  float: left;
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.footer-column-box {
  float: left;
  padding-left: 55px;
  padding-bottom: 55px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
}

.footer-col-1 {
  margin-top: 40px;
  float: left;
  width: 24%;
}

.footer-col-2 {
  margin-top: 40px;
  float: left;
  width: 15%;
  margin-left: 30px;
}

.footer-col-3 {
  margin-top: 40px;
  float: left;
  width: 26%;
}

.footer-col-4 {
  margin-top: 40px;
  float: left;
  width: 25%;
  margin-left: 38px;
}

#footer-text {
  width: 100%;
  float: left;
  color: #ffff;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  opacity: 90%;
}

.company-box {
  float: left;
}

#company {
  font-size: 20px;
  color: #ffff;
  line-height: 1.2;
  font-weight: 700;
  position: relative;
}

#company::after {
  content: "";
  width: 2px;
  height: 25px;
  background: #e52e2e;
  position: absolute;
  left: 2%;
  top: 28px;
}

.footer-main-navigation {
  margin-top: 55px;
}

.footer-main-navigation li {
  list-style: none;
  text-decoration: none;
}

.footer-main-navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 2.2;
  font-weight: 500;
  cursor: pointer;
}

#headline-text {
  float: left;
  color: #ffff;
  margin-top: 55px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;

  padding-bottom: 10px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

#headline-text-2 {
  float: left;
  color: #ffff;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 20px;
  padding-bottom: 10px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

#headline-text-4 {
  float: left;
  color: #ffff;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 20px;
  padding-bottom: 10px;
}

#headline-text-5 {
  float: left;
  color: #ffff;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 55px;
  padding-bottom: 10px;
}

#footer-subscribe-button {
  float: left;
  color: #ffff;
  background-color: RGB(229, 46, 46);
  font-size: 13px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  padding: 20px 20px;
  border-width: 50px 50px 50px 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 50px;

  cursor: pointer;
}

.td-email-bar {
  float: left;
}

form {
  float: left;
  width: 100%;
  margin-top: 10px;
}

#email-bar {
  float: left;
  height: 100%;
  padding: 20px 0px 20px 6px;

  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#email-bar::placeholder {
  cursor: text;
  color: #131f49;
  border: none;
  padding-left: 6px;
  padding-right: 6px;

  font-size: 15px;
}

#email-bar:focus {
  color: #131f49;
  border: none;
  padding-left: 6px;
}

#email-bar:focus-visible {
  outline: none;
}

#policy-checkbox-input {
  float: left;
  width: 7%;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 20px;
}

#policy-checkbox {
  width: 90%;
  float: left;
  margin-top: 17px;
  color: #ffff;
  font-size: 13px;
}

#policy-checkbox a {
  color: #ff0606;
  font-size: 13px;
  text-decoration: none;
}

.final-footer {
  float: left;
  margin-left: 55px;
  margin-top: 30px;
  width: 70%;
  padding-bottom: 30px;
}

.final-footer p {
  float: left;
  color: #ffffff;
  font-family: var(--global-font-1) !important;
  font-size: 13px !important;
  line-height: 1.4 !important;
  font-weight: 300 !important;
  width: 100%;
}

.footer-social-icons {
  float: left;
  text-align: center;
  width: 25%;
  margin-top: 30px;
}

#footer-icons {
  padding-right: 20px;
}

.menu-section {
  width: 90%;

  padding-bottom: 40px;
  background: #fff;
  position: fixed;
  left: 10%;
  top: 0%;
  overflow-y: auto;
  z-index: 1;
  height: 100vh;

  display: none;
  transition: 0.5s ease-in;


}



.menu-col-1 {
  padding-top: 40px;
  float: left;
  width: 20%;
  background-color: #fcf7f5;
  padding-left: 30px;
}

.menu-col-2 {
  float: left;
  width: 33%;
  margin-left: 20px;
}

.menu-column-2 {
  float: left;
  width: 100%;
  padding-top: 35px;
}

.menu-col-2 h3 {
  color: #131f49;
}

.company-box {
  float: left;
}

.footer-main-navigation {
  margin-top: 55px;
}

.footer-main-navigation li {
  list-style: none;
  text-decoration: none;
}

.footer-main-navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 2.2;
  font-weight: 500;
}

.menu-social-icons {
  float: left;
  padding-top: 30px;
}

.hot-topics-box {
  float: left;
  width: 100%;
}

#hot-topics {
  font-size: 20px;
  color: #ffff;
  line-height: 1.2;
  font-weight: 700;
  color: #131f49;

  position: relative;
}

#hot-topics::after {
  content: "";
  width: 2px;
  height: 25px;
  background: #e52e2e;
  position: absolute;
  left: 4%;
  top: 28px;
}

.menu-hot-topic-navigation {
  margin-top: 55px;
}

.menu-hot-topic-navigation li {
  list-style: none;
}

.menu-hot-topic-navigation a {
  text-decoration: none;
  color: #131f49;

  font-size: 15px;
  line-height: 2;
  font-weight: 600;
}

#menu-text {
  float: left;
  color: #131f49;

  margin-top: 45px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;

  padding-bottom: 10px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

#menu-text-2 {
  float: left;
  color: #131f49;

  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 20px;
  padding-bottom: 10px;

  border: none;
  border-color: #b1b4bc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

#menu-text-4 {
  float: left;
  color: #131f49;
  width: 100%;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 20px;
  padding-bottom: 10px;
}

.menu-columns {
  float: left;
}

#close-menu {
  float: right;
  margin-top: 30px;
  margin-left: 15px;
  cursor: pointer;

  position: fixed;
  left: 95%;
  font-size: large;
}
